# clang-tidy configuration for git-prompt
# See https://clang.llvm.org/extra/clang-tidy/

Checks: >
  -*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  performance-*,
  readability-braces-around-statements,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-named-parameter,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr,
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers

WarningsAsErrors: ''

HeaderFilterRegex: ''

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 50
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
